@model MateriasViewModel
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var materia in Model.Materias)
        {
            <tr>
                <td>@materia.IdMateria</td>
                <td>@materia.Nombre</td>
                <td>@materia.Descripcion</td>
            </tr>
        }
        </tbody>
</table>